@model ProjectMVC.Models.Product
@{
    ViewBag.Title = "Details";
}


<div class="container" style=" margin-left:50px; margin-top:80px;">
    <div class="row">
        <div class="col-md-12 center-block">
            <h2>Product Details</h2>
            @using (Html.BeginForm("Edit", "Products"))
            {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="form">
                        <div class="flex-xl-nowrap">
                        @Html.LabelFor(m => m.Name)
                        
                            @Html.TextBoxFor(m => m.Name)
                             </div>
                        
                    </div>
                    <div class="form">
                        @Html.LabelFor(m => m.ShadeColour)
                        @Html.TextBoxFor(m => m.ShadeColour)
                    </div>
                    <div class="form">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price)
                    </div>
                    <div class="form">
                        @Html.LabelFor(m => m.Category.CName)
                        @Html.TextBoxFor(m => m.Category.CName)
                    </div>
                    
                    <div class="row">
                        <div style="margin-left">
                            @Html.ActionLink("BackToList", "Index", "Product", null, new { @class = "btn btn-success" })
                            <br />
                        </div>
                        <div>
                            @Html.ActionLink("BookAppointment", "Create", "Appointment", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    </div>
                </div>
            </div>



            }
            
        </div>
    </div>
</div>






